<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIGC_Direct.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIGC_Direct.Settings>
            <setting name="X" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="O" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="L" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chatgpt" serializeAs="String">
                <value>https://chat.openai.com</value>
            </setting>
            <setting name="bingai" serializeAs="String">
                <value>https://www.bing.com/search?q=Bing+AI&amp;showconv=1&amp;FORM=hpcodx</value>
            </setting>
            <setting name="bard" serializeAs="String">
                <value>https://bard.google.com</value>
            </setting>
            <setting name="yiyan" serializeAs="String">
                <value>https://yiyan.baidu.com</value>
            </setting>
            <setting name="W" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="H" serializeAs="String">
                <value>650</value>
            </setting>
        </AIGC_Direct.Settings>
    </userSettings>
</configuration>